{% extends 'base.html.twig' %}

{% block body %}
    <div class="container px-0">
        <div class="row py-3 g-3">
            {% for team in teamsPagination %}
                <div class="col-4">
                    <div class="card h-100">
                        <h5 class="card-header">{{ team.name }}</h5>

                        <div class="card-body">
                            <h6 class="card-subtitle text-body-secondary pb-2">Country: {{ team.country }}</h6>
                            <h6 class="card-subtitle text-body-secondary pb-2">Balance: {{ (team.balance / 100) | format_currency('USD') }}</h6>

                            {% if team.players | length > 0 %}
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-secondary mt-3">Players:</li>
                                    {% for player in team.players %}
                                        <li class="list-group-item">{{ player.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {{ knp_pagination_render(teamsPagination) }}
    </div>
{% endblock %}