{% extends 'base.html.twig' %}

{% macro printPlayerRow(playerForm) %}
    <div class="container px-0 mb-1">
        <div class="row m-0">
            <div class="col-6 px-0 pe-1">
                {{ form_widget(playerForm.name) }}
            </div>

            <div class="col-6 px-0 ps-1">
                {{ form_widget(playerForm.surname) }}
            </div>

            <div class="col-12 px-0">
                {{ form_errors(playerForm.name) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% block body %}
    <div class="container p-4">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card">
                    <h5 class="card-header">Add a Team</h5>

                    <div class="card-body">
                        {{ form_start(form) }}

                        {{ form_row(form.name) }}
                        {{ form_row(form.country) }}
                        {{ form_row(form.balance) }}

                        <div class="card mb-2">
                            <h5 class="card-header">Players</h5>

                            <div class="card-body p-2">
                                <div
                                        class="players px-0 mb-2"
                                        data-index="{{ form.players | length > 0 ? form.players | last.vars.name + 1 : 0 }}"
                                        data-prototype="{{ _self.printPlayerRow(form.players.vars.prototype) | e('html_attr') }}"
                                >
                                    {% for player in form.players %}
                                        {{ _self.printPlayerRow(player) }}
                                    {% endfor %}
                                </div>

                                <button
                                        type="button"
                                        class="btn btn-primary add-item-link"
                                        data-collection-holder-class="players">
                                    Add a Player
                                </button>

                                <button
                                        type="button"
                                        class="btn btn-primary remove-item-link"
                                        data-collection-holder-class="players">
                                    Remove a Player
                                </button>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}